body{
font-family: Arial;
background:#f2f3f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.phone{
width:320px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
text-align:center;
}

h2{
margin-bottom:20px;
}

.input-group{
margin-bottom:15px;
text-align:left;
}

label{
font-size:14px;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:8px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#4CAF50;
border:none;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#43a047;
}

.result{
margin-top:20px;
background:#f7f7f7;
padding:15px;
border-radius:10px;
}

.result h1{
margin:5px;
color:#4CAF50;
}

.reset{
background:#ff5252;
}

.reset:hover{
background:#e53935;
}