body{
font-family: Arial;
background:#f2f3f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
transition:0.3s;
}

.phone{
width:320px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
text-align:center;
}

.input-group{
margin-bottom:12px;
text-align:left;
}

input{
width:100%;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#4CAF50;
border:none;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#43a047;
}

.result{
margin-top:15px;
background:#f7f7f7;
padding:10px;
border-radius:10px;
}

.reset{
background:#ff5252;
}

.dark-btn{
background:#333;
margin-bottom:10px;
}

ul{
list-style:none;
padding:0;
}

li{
background:#eee;
margin-top:5px;
padding:8px;
border-radius:6px;
}

/* Dark Mode */

.dark{
background:#1e1e1e;
color:white;
}

.dark .phone{
background:#2c2c2c;
}

.dark li{
background:#444;
}